.form__header {
  margin-bottom: 32px;
}

.form__header h3 {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: #fff;
}

.form__header span {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
