@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}

body {
  font-family: "Inter", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  background: #3f444a;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #c593f0;
}
